

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');



* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Muli', sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
     overflow: hidden;
}

.ripple {
    background-color: purple;
    border: 1px solid purple;
    padding: 20px 30px;
    margin: 20px 10px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
}

.ripple:focus {
    outline: none;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}