

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');



* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Muli', sans-serif;
    background-color: steelblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
   overflow: hidden;
}

.container {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn { 
   background-color: lightblue;
   width: 100%;
   border: 0;
   padding: 15px;
   border-radius: 5px;
   font-family: inherit;
   cursor: pointer;
   font-size: 16px;
}

.btn:active {
    transform: scale(0.98);
}
.text {
    margin-top: 30px;
}

.form-control {
    width: 300px;
    margin: 20px 0;
    position: relative;
 
}

.form-control input {
    background-color:  transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px 0px ;

}

.form-control input:focus, .form-control input:valid {
    outline: none;
}

.form-control  label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control  label span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus , .form-control input:valid {
    border-bottom-color: lightblue;
}


.form-control input:focus + label span, .form-control input:valid + label span {
    color: lightblue;
    font-size: 16px;
    transform: translateY(-30px);
}