body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
}