
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.spinner {
    height: 300px;
    width: 300px;
    border: 10px solid rgb(208, 202, 202);
    border-top-color: rgb(13, 126, 13) ;
    border-radius: 50%;
    animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}