
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    font-family: 'Muli', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.key {
    border: 1px solid #999;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-flex;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-width: 150px;
    position: relative;
}

small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}