
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
    box-sizing: border-box;
}


body {
    font-family: 'Muli', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
}

canvas {
    border: 2px solid steelblue;
}

.toolbox {
    background-color: steelblue;
    border: 1px solid slateblue;
    width: 604px;
    height: 50px;
    display: flex;
    align-items: center;
} 

.toolbox > * {
    background-color: #fff;
    border: none;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;

}