

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #333;
    color: #222 ;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.7s linear ;
    width: 100vw;
    padding: 30px;
    padding-top: 50px;
    min-height: 100vh;
}

.container.show-nav{
    transform: rotate(-20deg);
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.content img {
    max-width: 100%;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: #ff7979;
    border-radius: 50%;
    position: relative;
    transition: transform 0.7s linear;
}

.circle button {
    top: 50%;
    left: 50%;
    background: transparent;
    position: absolute;
    border: none;
    height: 100px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

#open {

  left: 60%;

}
#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 0.7s linear;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition: transform 0.7s linear;
} 

nav {
    position: absolute;
    top: 60%;
    left: 0;
    color: #fff;
    height: 400px;
}

nav ul {
    height: 100%;
    list-style: none;
}

nav ul li {
    text-transform: uppercase;
    margin: 40px 0;
    transform: translateX(-150%);
    transition: transform 0.7s linear;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-200%);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-250%);
}

nav ul li i {
    margin-right: 10px;
}