
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
   font-family: "Poppins", Arial, Helvetica, sans-serif;
   background-color: darksalmon;
}

div {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    background-color: darksalmon;
    border: none;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}