
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3494e4;
  color: white;
  margin-bottom: 40px;
}

h1 {
    margin: 10px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.cup {
    background-color: white;
    border: 4px solid #144fc6;
    color: #144fc6;
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cups {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 50px);
}

.cup-small {
    align-items: center;
    text-align: center;
    height: 90px;
    width: 45px;
    font-size: 12px;
    padding: 3px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    transition: 0.3s ease;
}

.cup-small.full {
    background-color: #6ab3f8;
    color: #fff;
}

.remained {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: #6ab3f8;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    height: 0px;
    transition: 0.3s ease;
}