
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3494e4;
  color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.name {
    flex: 1 0 5rem;
}

.email {
    flex: 1 0 5rem;
}

.button {
    flex: 1 0 5rem;
    background-color: #c0b9a5;
    border: none;
}