
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
    font-family: 'Muli', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}



#nav {
  width: 50px;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  overflow-x: hidden;
  position: relative;
}

#nav ul {
  opacity: 0;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  transition: width 0.6s linear, opacity 0.6s linear;
}

#nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
  transition: transform 0.6s linear;
}


#nav.active ul {
  opacity: 1;
  list-style: none;

}

#nav.active ul li {
  margin: 0 10px;
  transform: rotateY(360deg);
}

#nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#nav button {
  background-color: #fff;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav.active {
  width: 320px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav.active button {
  position: absolute;
  right: 10px;
}


#nav button:focus {
  outline: none;
}

.icon .line {
  position: absolute;
  background-color: #5290f9;
  width: 80%;
  height: 2px;
  transition: transform 0.6s linear;
}

.icon .line1 {
  top: 10px;
}

.icon .line2 {
  bottom: 10px;
}

#nav.active .icon .line1{
   transform: rotate(-765deg) translateY(5.5px);
}

#nav.active .icon .line2{
  transform: rotate(765deg) translateY(-5.5px);
}